@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #09122C;
  --foreground: #BE3144;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #BE3144;
  }
} */

.body {
  @apply bg-background text-primary-light border-primary-light;
}